.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
 
}

.App-container{
  display: flex;
  /* side bar width was not chaging in mobile view
  width: 100%;
  height: 100vh;*/
}

.App-page-contaier{
  flex-grow:1;
}

.App-center-div{
  display: flex;
  justify-content: center;
}

