body{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  width: 100%;
  

 
 /* text-align: center;
  width: 100%;
  overflow-x: hidden;*/

  /*
  display:flex;
  flex-direction: column;
  width: 100%;*/
  /* Centering the page */
  
}

.App-container{
  display: flex;
  /* side bar width was not chaging in mobile view
  width: 100%;
  height: 100vh;*/
}

.App-page-contaier{
  align-items: center;
  width: 100vw;
  margin-top: 40px;
  flex-grow:1;
}

.App-center-div{
  display: flex;
  justify-content: center;
}

