.searchTable{
    display: flex;
    flex-direction: column;
    margin: 1px;
    justify-content: space-evenly;
    box-shadow: 1px 3px 2px -1px rgb(0,0,0,0.4);
    padding: 1rem;
    background-color:#606470;
    border-radius: 1rem;
    width: 90%;


}

.searchTable-searchBy{
    display:flex;
    justify-content:space-evenly;
   
    
}

.searchTable-input{
    display:flex;
    align-items:center;
    width: 85%;
}

.searchTable-TextField{
    color: transparent;
    background-color: white;
    border-radius: 5px;
}



.searchTable-button{
    display:flex;
    align-items:center;
}

.searchTable-radioBtn{
    display: flex;
    width: 80%;
    justify-content:flex-start;
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: #f0efef;
    font-size: 0.8rem;
}
.searchTable-radioBtn input{
    margin-left: 1rem;
    height: 10px;
    width: 10px;
}

@media(max-width:650px){
    .searchTable-radioBtn{
        flex-direction: column;
        align-items: flex-start;
    }
}


