.newApptForm{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 80%;
}
.newApptForm-clientInfo{
    display: flex;
    justify-content:flex-start;
    gap: 2rem; 
}
.newApptForm-lables{
    display: flex;
    align-items: baseline;
    width: 50%;
    gap:3px;

}
.newApptForm-lables p {
    border-bottom: solid 1px #bdbdbd;
    width: 60%; 
}

.newApptForm-selectBoxes{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    margin-top: 1rem;
}
.newApptForm-radioBtn{
    display: flex;
    justify-items: flex-start;
    gap:1rem;
    margin-top: 1rem;
}

.newApptForm-butn{
    display: flex;
    justify-content:flex-end;
    margin-top: 1rem;

}

@media(max-width:650px){
    .newApptForm-selectBoxes,
    .newApptForm-radioBtn,
    .newApptForm-clientInfo{
        flex-direction: column;
        justify-content: flex-start;
        gap:1rem;
        flex:1
    }
}



