.AppointmentsHistoryView{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.AppointmentsHistoryView-print{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    cursor: pointer;
    
}
@media print{
    body * {
        visibility: hidden;
      }
      #printableArea,
      #printableArea *{
          visibility: visible;
      }
      #printableArea{
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
}