.SearchClient{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 90%;
}
.SearchClient-by-name{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    
}
.SearchClient-by-member-number{
    display: flex;
    justify-content: start;
}

.SearchClient-btn{
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
    
}

.SearchClient-TextField{
    width: 70%;
}

.SearchClient p{
    display: flex;
}

.SearchClient p::before,
.SearchClient p::after{
    content: "";
            flex: 1 1;
            border-bottom: 1px solid #bdbdbd ;
            margin: auto;
}


@media(max-width:650px){
    .SearchClient-by-name{
        flex-direction:column;
        gap: 2rem;

    }
    .SearchClient-TextField{
        width: 100%;
    }
}