.timeTable{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.timeTable label{
    display:flex;
    justify-content: center;
    margin-bottom: 1rem;
   
}

.timeTable-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;  
}

/**hide the radio button */
.timeTable-grid input{
    opacity: 0;
    position: fixed;
    width: 0;
}

.timeTable-grid-container{
    display: flex;
    margin: 3px;
    height: 36px;
    background-color: white;
    box-shadow: 1px 1px 3px  rgb(0,0,0,0.4);
    border: none;
    border-radius: 1rem;
}

.timeTable-grid-checkmark{
    display: flex;
    justify-content:center;
    align-items: center;
    width:100%;
    height: 100%;

}

.timeTable-grid-container input:checked + .timeTable-grid-checkmark{
    background-color:#1565c0;
    border-radius: 1rem;
    color: white;
}


/*

.timeTable-grid button{
    margin: 3px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 3px  rgb(0,0,0,0.4);
    border: none;
    border-radius: 1rem;
  
}

.timeTable-grid button:visited,
.timeTable-grid button:active,
.timeTable-grid button:focus{
    background-color: #1565c0;
    color: white;
}*/





