.home-screen{
    display: flex;
    flex-direction: column;
  
    
}

.home-screen-searchMenu{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
}

.home-screen-table{
    display: flex;
    justify-content: center;
    

    
}